<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="components/base_layout_js :: layout(~{::title}, ~{::main}, ~{::script}, ${7})">
<head>
    <title>Contact Tracer - Open staff notifications</title>
</head>
<body>
<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
    <h1 class="h4">Not reported to supervisor</h1>
    <p>Staff member not reported to supervisor</p>
    <div class="row my-4">
        <div class="col-12 mb-4 mb-lg-0">
            <div class="card">
                <h5 class="card-header">Staff</h5>
                <div class="card-body">
                    <form action="#" method="post" th:action="@{/index/open/staff}" th:object="${staff}">
                        <div class="table-responsive">
                            <table class="table table-sm table-striped">
                                <thead>
                                <tr>
                                    <th scope="col" th:if="${!staff.indexPersonDTOList.empty}"><input type="checkbox" onclick="togglecheckboxes()" /></th>
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Entry date</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="person, stat : *{indexPersonDTOList}">
                                    <td>
                                        <div class="form-check">
                                            <input
                                                    class="form-check-input position-static"
                                                    type="checkbox"
                                                    id="supervisor"
                                                    name="supervisor"
                                                    th:field="*{indexPersonDTOList[__${stat.index}__].reportSupervisor}"
                                            />
                                            <input type="hidden" th:field="*{indexPersonDTOList[__${stat.index}__].id}" readonly="readonly" />
                                            <input type="hidden" th:field="*{indexPersonDTOList[__${stat.index}__].reportHealthDepartment}" readonly="readonly" />
                                            <input type="hidden" th:field="*{indexPersonDTOList[__${stat.index}__].visible}" readonly="readonly" />
                                            <input type="hidden" th:field="*{indexPersonDTOList[__${stat.index}__].owner}" readonly="readonly" />
                                        </div>
                                    </td>
                                    <th scope="row" th:text="${person.id}"></th>
                                    <td th:text="${person.name}">Name</td>
                                    <td th:text="${person.firstName}">FirstName</td>
                                    <td th:text="${person.entryDateTime}">1900-01-01</td>
                                    <td aria-label="staff options">
                                        <a th:href="@{/index/{id}(id=${person.id})}" href="#" class="btn btn-sm btn-primary">View</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="submit" class="btn btn-block btn-primary">Submit all</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:replace="components/content/content_js_checkbox_all :: checkboxAll"></script>
</body>
</html>